<div class="form-article">
    <div class="grid mt">
        <div class="grid__col4">
                <lx-text-field label="Nombre del articulo" fixed-label="true" icon="keyboard-arrow-right" error="!form.product.$valid">
                    <input type="text" ng-model="product.product" name="product" required>
                </lx-text-field>
                <ul class="form-error form-error-margin" ng-if="error.product">
                    <li>{{error.product[0]}}</li>
                </ul>

                <lx-text-field label="Modelo del articulo" fixed-label="true" icon="keyboard-arrow-right" error="!form.model.$valid">
                    <input type="text" ng-model="product.model" name="model" required>
                </lx-text-field>
                <ul class="form-error form-error-margin" ng-if="error.model">
                    <li>{{error.model[0]}}</li>
                </ul>


                <lx-text-field label="Clave de producto" fixed-label="true" icon="keyboard-arrow-right" error="!form.key.$valid">
                    <input type="text" ng-model="product.key" name="key" required>
                </lx-text-field>
                <ul class="form-error form-error-margin" ng-if="error.key">
                    <li>{{error.key[0]}}</li>
                </ul>
                
        </div>

        <div class="grid__col4">
                <lx-text-field label="Precio con iva" fixed-label="true" icon="keyboard-arrow-right" error="!form.price.$valid">
                    <input type="text" name="price" ng-model="product.price_iva" ng-pattern="regex_number" required>
                </lx-text-field>
                <ul class="form-error form-error-margin" ng-if="error.price">
                    <li>{{error.price_iva[0]}}</li>
                </ul>               

                <lx-text-field label="Precio minimo" fixed-label="true" icon="keyboard-arrow-right" error="!form.price_iva.$valid">
                    <input type="text" name="price_iva" ng-model="product.price" ng-pattern="regex_number" required>
                </lx-text-field>
                <ul class="form-error form-error-margin" ng-if="error.price_iva">
                    <li>{{error.price[0]}}</li>
                </ul>

                <lx-text-field label="Precio de venta" fixed-label="true" icon="keyboard-arrow-right" error="!form.price_iva.$valid">
                    <input type="text" name="price_iva" ng-model="product.price_sale" ng-pattern="regex_number" required>
                </lx-text-field>
                <ul class="form-error form-error-margin" ng-if="error.price_iva">
                    <li>{{error.price_sale[0]}}</li>
                </ul>
        </div>

        <div class="grid__col4">
            <lx-text-field label="Articulos en existencia" fixed-label="true" icon="keyboard-arrow-right" error="!form.reserve.$valid">
                <input type="text" name="reserve" ng-model="product.reserve" ng-pattern="regex_number" required>
            </lx-text-field>
            <ul class="form-error form-error-margin" ng-if="error.reserve">
                <li>{{error.reserve[0]}}</li>
            </ul>

            <lx-text-field label="Existencia minima para el pedido" fixed-label="true" icon="keyboard-arrow-right" error="!form.reorderpoint.$valid">
                <input type="text" name="reorderpoint" ng-model="product.reorderpoint" ng-pattern="regex_number" required>
            </lx-text-field>
            <ul class="form-error form-error-margin" ng-if="error.reorderpoint">
                <li>{{error.reorderpoint[0]}}</li>
            </ul>
        </div>
    </div>
    <div class="grid mt">
        <div class="grid__col12">
            <lx-select ng-model="product.provider_id" placeholder="Selecciona un proveedor" choices="providers" floating-label required>
                <lx-select-selected>
                    {{ $selected.name }}
                </lx-select-selected>

                <lx-select-choices>
                    {{ $choice.name }}
                </lx-select-choices>
            </lx-select>
            <ul class="form-error form-error-margin" ng-if="error.provider_id">
                <li>{{error.provider_id[0]}}</li>
            </ul>
        </div>        
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn--xl btn--blue btn--fab" lx-ripple><i class="mdi mdi--add"></i></button>
    </div>
</div>
