<h1 class="main-section__title">Inventario</h1>

<lx-dialog class="dialog dialog--l" id="test" onclose="closingDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                Registro de venta
            </span>

            <span class="toolbar__label tc-white fs-title" style="float:right">
                Total : {{(product.price_sale * productSale.quantity) - productSale.discount | currency}}
            </span>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="addPerson()">
                    <i class="mdi mdi-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="dialog__content">
        <lx-tabs links-tc="light" links-bgc="light-blue-500" indicator="yellow-500" no-divider="true" layout="inline">
            <lx-tab heading="Articulo ---- {{product.product}}">
                <div class="p++">
                    <div flex-container="row" flex-gutter="24">
                        <div flex-item>
                            <lx-text-field label="Cantidad de articulos">
                                <input type="number" ng-model="productSale.quantity">
                            </lx-text-field>
                        </div>
                    </div>
                     <div flex-container="row" flex-gutter="24">
                        <div flex-item>
                            <lx-text-field label="Descuento">
                                <input type="number" ng-model="productSale.discount">
                            </lx-text-field>
                        </div>
                    </div>
                </div>                
                <div class="p++">
                    <div flex-container="row" flex-gutter="24">
                        <div flex-item>
                            <lx-text-field label="Fecha de la venta">
                                <input type="date" ng-model="productSale.date" ng-value="{{productSale.date | date: 'yyyy-MM-dd'}}">
                            </lx-text-field>
                        </div>
                    </div>
                </div>
            </lx-tab>
        </lx-tabs>
    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancelar</button>
        <button class="btn btn--m btn--black btn--flat" lx-ripple ng-click="sales()">Aceptar</button>
    </div>
</lx-dialog>

<div class="data-table-container">
    <div class="mt++" flex-container="row" flex-gutter="24">
        <div flex-item>
            <div class="card bgc-blue-grey-700">
                <div class="toolbar wl">
                    <div style="float: left">
                        <lx-search-filter theme="dark" model="searchArticle.product" filter-width="100%" placeholder="Buscar producto por nombre"></lx-search-filter>
                    </div>
                    <div style="float: left">
                        <lx-search-filter theme="dark" model="searchArticle.key" filter-width="100%" placeholder="Buscar por clave"></lx-search-filter>
                    </div>
                    <div class="grid__col4">                    
                        <lx-select ng-model="providers.provider" placeholder="Selecciona un proveedor" choices="providers" floating-label style="margin-top:8px" ng-change="providerProducts()" theme="white">
                            <lx-select-selected>
                                {{ $selected.name }}
                            </lx-select-selected>

                            <lx-select-choices>
                                {{ $choice.name }}
                            </lx-select-choices>
                        </lx-select>
                    </div>
                    <button class="btn btn--m btn--blue btn--raised" lx-ripple ng-click="clear()">Todos</button>
                    <div class="toolbar__right">
                        <div class="btn btn--l switch colorwhite fr">
                            <input type="checkbox" id="switch1" class="switch__input" ng-model="prcb" ng-change="togglePR()">
                            <label for="switch1" class="switch__label">Punto de pedido</label>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr>
                <th></th>
                <th width="2%">En existencia</th>
                <th><strong>Nombre</strong></th>
                <th>Modelo</th>
                <th>Clave</th>
                <th>Cantidad con iva</th>
                <th>Ganancia mínima</th>
                <th>Precio mínimo</th>                
                <th>Ganancia</th>
                <th>Precio de venta</th>                
            </tr>
        </thead>

        <tbody>
            <tr ng-class="{'bgc-deep-orange-50': product.status == 'pr'}" class="data-table__clickable-row" ng-repeat="product in products | filter: searchArticle">
            	
                <td style="width: 192px;">
                    <a  href="#/edit/{{product.id}}" class="icon icon--l icon--blue-grey icon--circled mdi mdi--create" lx-tooltip="Editar producto" tooltip-position="top"></a>
                    <a ng-click="opendDialog('test', product)" class="icon icon--l icon--blue-grey icon--circled mdi mdi--local-atm" lx-tooltip="Realizar una venta" tooltip-position="top"></a>                    
                    <a ng-click="removeArticle(product.id)" ng-if="product.reserve == 0" class="icon icon--l icon--blue-grey icon--circled mdi mdi--cancel" lx-tooltip="Eliminar el producto" tooltip-position="top"></a>
                </td>
                <td width="2%">
                    <span>{{product.reserve}}</span>
                </td>
                <td>
                    <span>{{product.product}}</span>
                </td>
                <td>
                    <span><i>{{product.model}}</i></span>
                </td>
                <td>
                    <span><i>{{product.key}}</i></span>
                </td>
                <td>
                    <span>{{product.price_iva | currency}}</span>
                </td>
                <td>
                    <span>{{product.gain_min | currency}}</span>
                </td>
                <td>
                    <span>{{product.price | currency}}</span>
                </td>
                <td>
                    <span>{{product.gain_max | currency}}</span>
                </td>
                <td>
                    <span>{{product.price_sale | currency}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
