<h1 class="main-section__title">Ventas: {{totalsales | currency}}</h1>


<div class="data-table-container">
    <div class="grid mt++">
        <div class="grid__col5">
            <lx-date-picker model="date.start" label="Fecha de inicio"></lx-date-picker>
        </div>
        <div class="grid__col5">
            <lx-date-picker model="date.end" label="Fecha final"></lx-date-picker>  
        </div>
        <div class="grid__col2 text-right">
            <button class="btn btn--l btn--blue btn--raised" lx-ripple ng-click="datechange()">Buscar</button>
        </div>
    </div>
    <div class="grid mt++">
        <div class="grid__col12">
            <div class="card bgc-blue-grey-700">
                <div class="toolbar">
                    <div class="toolbar__right">
                        <lx-search-filter model="searchArticle" position="right" filter-width="400px" theme="dark" closed></lx-search-filter>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr>
                <th></th>
                <th><strong>Fecha venta</strong></th>
                <th><strong>Nombre</strong></th>
                <th><strong>Modelo</strong></th>
                <th><strong>Cantidad</strong></th>
                <th><strong>Precio Unitario</strong></th>
                <th><strong>Subtotal</strong></th>
                <th><strong>Descuento</strong></th>
                <th><strong>Total</strong></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-class="{'bgc-deep-orange-50': product.status == 'pr'}" class="data-table__clickable-row" ng-repeat="product in products | filter: searchArticle">
            	
                <td>
                    <i class="icon icon--l icon--blue-grey icon--circled mdi mdi--replay" lx-tooltip="Deshacer venta" tooltip-position="top" ng-click="replaySale(product.id)"></i>
                </td>
                <td>
                    <span>{{product.date | date: 'longDate'}}</span>
                </td>
                <td>
                    <span>{{product.product}}</span>
                </td>
                <td>
                    <span><i>{{product.model}}</i></span>
                </td>
                <td>
                    <span>{{product.quantity}}</span>
                </td>
                <td>
                    <span>{{product.price_iva | currency}}</span>
                </td>
                <td>
                    <span>{{product.total | currency}}</span>
                </td>                
                <td>
                    <span>{{product.discount | currency}}</span>                    
                </td>
                <td>
                    <span>{{product.total_discount | currency}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>